---
import Layout from "../layouts/Layout.astro";
import EventsComponent from "../components/Events.jsx";
---

<Layout title="IEDC CETKR - Events">
  <main class="bg-[#f4f1de] min-h-screen">
    <EventsComponent client:load />
  </main>
</Layout>