---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import '@fontsource/montserrat'; // Import Montserrat font
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="image/svg+xml" type="image/svg+xml" href="../assets/images/square.png" />
		<meta name="generator" content={Astro.generator} />
		<title>IEDC - CETKR</title>
	</head>
	<body class="text-[#8e8d8a] font-montserrat">
		<Navbar/>
		<slot />
		<Footer />
	</body>
</html>

